<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Search History</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet" />
		<link rel="stylesheet" href="/static/main/app.css" />
		<link rel="stylesheet" href="/static/history/main.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="/static/general.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Search History</h1>
			<div id="searchHistory"></div>
		</div>
		<div class="bottom-appbar">
			<div class="tabs">
				<div class="tab is-active tab--left" onclick="redirect('search-books')">
					<img src="/static/main/search.svg" alt="Search" />
					<span>Search</span>
				</div>
				<div class="tab tab--fab" onclick="redirect('main')">
					<div class="top">
						<div class="fab">
							<img src="/static/main/camera.svg" alt="Add" />
						</div>
					</div>
				</div>
				<div class="tab tab--right" onclick="togglePopup()">
					<img src="/static/main/profile.svg" alt="Profile" />
					<span>Profile</span>
					<div id="profile-popup" class="profile-popup" style="display: none">
						<ul>
							<li onclick="redirect('history')">
								History <img src="/static/main/history.svg" alt="history" />
							</li>
							<li onclick="redirect('user-profile')">
								Likes <img src="/static/main/likes.svg" alt="likes" />
							</li>
							<li onclick="redirect('logout')">
								Logout <img src="/static/main/logout.svg" alt="logout" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script>
			function redirect(page) {
				if (page === 'logout') {
					Swal.fire({
						title: 'Are you sure?',
						text: 'You will be logged out',
						icon: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes, log me out!',
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.replace('/logout');
						}
					});
					return;
				} else {
					window.location
						? (window.location.href = `/${page}`)
						: window.location.replace(`/${page}`);
				}
			}
			function togglePopup() {
				var popup = document.getElementById('profile-popup');
				if (popup.style.display === 'none') {
					popup.style.display = 'block';
				} else {
					popup.style.display = 'none';
				}
			}

			// Optional: Close the popup when clicking outside of it
			window.onclick = function (event) {
				var popup = document.getElementById('profile-popup');
				if (!event.target.matches('.tab--right, .tab--right *')) {
					popup.style.display = 'none';
				}
			};
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="/static/history/app.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</body>
</html>
