<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
		<title>Login</title>
		<link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css" />
		<link
			href="/static/login/login.css"
			rel="stylesheet"
			type="text/css"
			data-preload="true" />
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
		<!-- Add Firebase products that you want to use -->
		<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
	</head>
	<body>
		<div class="o-container">
			<div class="c-login-container">
				<div class="c-filler-mobile">
					<img
						class="c-filler-picture-mobile"
						src="/static/login/book.png"
						width="466.424"
						height="538" />
				</div>
				<div class="c-login">
					<form action="" onsubmit="return false" class="login-form">
						<div class="intro" id="intro">
							<h2>Hallo, welcome back!</h2>
							<p>Login to continue.</p>
						</div>
						<div class="entry-item">
							<input
								type="text"
								name="username"
								id="signInName"
								placeholder="username"
								required />
						</div>
						<div class="entry-item">
							<input
								type="password"
								name="password"
								id="password"
								placeholder="password"
								required />
						</div>
						<div class="buttons">
							<button type="submit" id="continue">Login</button>
						</div>
						<div class="attrEntry">
							<a href="#" id="forgotPassword">Forgot password?</a>
						</div>
					</form>
				</div>
			</div>
			<div class="c-filler">
				<div class="c-filler-picture">
					<img src="/static/login/login.png" width="466.424" height="538" />
				</div>
				<div class="c-filler-title">
					<h1 class="c-filler-title-text">Login and Discover</h1>
				</div>
				<div class="c-filler-quote">
					<p class="c-filler-quote-text">
						“Somewhere between the bottom of the climb and the summit is the
						answer to the mystery why we climb.”
					</p>
					<p class="c-filler-quote-author">– Greg Child</p>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="/static/general.js"></script>
		<script src="/static/login/app.js"></script>
	</body>
</html>
