<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
		<title>Book Search and Rating</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet" />
		<link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css" />
		<link rel="stylesheet" href="/static/main/app.css" />
		<link rel="stylesheet" href="/static/search/main.css" />
		<script src="/static/general.js"></script>
	</head>
	<body>
		<div class="c-searchbox">
			<div class="c-searchbar">
				<input type="text" id="searchQuery" placeholder="Search for books..." />
				<button id="searchButton">Search</button>
			</div>
		</div>

		<div id="searchResults"></div>
		<div class="bottom-appbar">
			<div class="tabs">
				<div class="tab is-active tab--left" onclick="redirect('search-books')">
					<img src="/static/main/search.svg" alt="Search" />
					<span>Search</span>
				</div>
				<div class="tab tab--fab" onclick="redirect('main')">
					<div class="top">
						<div class="fab">
							<img src="/static/main/camera.svg" alt="Add" />
						</div>
					</div>
				</div>
				<div class="tab tab--right" onclick="togglePopup()">
					<img src="/static/main/profile.svg" alt="Profile" />
					<span>Profile</span>
					<div id="profile-popup" class="profile-popup">
						<ul>
							<li onclick="redirect('history')">
								History <img src="/static/main/history.svg" alt="history" />
							</li>
							<li onclick="redirect('user-profile')">
								Likes <img src="/static/main/likes.svg" alt="likes" />
							</li>
							<li onclick="redirect('logout')">
								Logout <img src="/static/main/logout.svg" alt="logout" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script>
			function redirect(page) {
				//if logout, popup a confirmation
				if (page === 'logout') {
					Swal.fire({
						title: 'Are you sure?',
						text: 'You will be logged out',
						icon: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes, log me out!',
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.replace('/logout');
						}
					});
					return;
				} else {
					window.location
						? (window.location.href = `/${page}`)
						: window.location.replace(`/${page}`);
				}
			}
			// function togglePopup() {
			// 	var popup = document.getElementById('profile-popup');
			// 	if (popup.style.display === 'none') {
			// 		popup.style.display = 'block';
			// 	} else {
			// 		popup.style.display = 'none';
			// 	}
			// }
			function togglePopup() {
				var popup = document.querySelector('.profile-popup');
				popup.classList.toggle('active'); // This toggles the 'active' class on and off
			}

			// Optional: Close the popup when clicking outside of it
			window.onclick = function (event) {
				var popup = document.getElementById('profile-popup');
				if (!event.target.matches('.tab--right, .tab--right *')) {
					popup.style.display = 'none';
				}
			};
		</script>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="/static/search/app.js"></script>
	</body>
</html>
