<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book Search and Rating</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet" />
		<link rel="stylesheet" href="/static/main/app.css" />
		<link rel="stylesheet" href="/static/search/main.css" />
	</head>
	<body>
		<div class="c-searchbox">
			<div class="c-searchbar">
				<input type="text" id="searchQuery" placeholder="Search for books..." />
				<button id="searchButton">Search</button>
			</div>
		</div>

		<div id="searchResults"></div>
		<div class="bottom-appbar">
			<div class="tabs">
				<div class="tab is-active tab--left" onclick="redirect('search-books')">
					<img src="/static/main/search.svg" alt="Search" />
					<span>Search</span>
				</div>
				<div class="tab tab--fab" onclick="redirect('main')">
					<div class="top">
						<div class="fab">
							<img src="/static/main/camera.svg" alt="Add" />
						</div>
					</div>
				</div>
				<div class="tab tab--right" onclick="redirect('user-profile')">
					❤️️
					<span>Profile</span>
				</div>
			</div>
		</div>
		<script>
			function redirect(page) {
				window.location
					? (window.location.href = `/${page}`)
					: window.location.replace(`/${page}`);
			}
		</script>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="/static/search/app.js"></script>
	</body>
</html>
